* {
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 2rem;
}


h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
}

address {
  font-style: normal;
}

table td {
  font-size: 12px;
}

nav ul a {
  padding: 0px 20px 0px 20px;
}

nav ul a:hover {
  background-color: #bbdefb;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.dropdown-content {
  min-width: 130px;
  width: auto;
}

.dropdown-content li>a {
  font-size: 14px;
  color: #444;
}



.sidenav-trigger {
  color: #616161;
}

.sidenav li>a:hover {
  background-color: #9cf;
}

.sidenav .metals-mobile-links li>a  {
  padding-left: 50px;
}

.bread {
  margin-top:10px;
  font-size: 12px;
}

.breadcrumb {
  color: #444;
  font-size: 15px;
}

.breadcrumb::before {
  color: #444;
}

a.breadcrumb::before {
  margin: 2px 10px 0px 8px;
}

.breadcrumb:last-child {
  color: #039be5;
}

#our-company-h5, #products-h5, #services-h5 {
  padding-left:20px;
}

.main-container {  
  margin: 0 40px 0 40px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

.logo-responsive {    
  width: auto;
  max-height: 56px;  
}

.sidebar-logo {
  max-height: 60px;
  width: auto;
  display: block;
  margin: auto;
  margin-top: 10px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

  .main-container {
    margin: 0 20px;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .main-container {
    margin: 0 10px;
  }

  table th {
    font-size: 14px;
  }

  table td {
    font-size: 10px;
  }

  .breadcrumb {    
    font-size: 14px;
  }

  a.breadcrumb::before {
    margin: 2px 0px 0px 0px;
  }

}

@media only screen and (min-width: 601px){
  .logo-responsive {
      width: auto;
      max-height: 64px;
      margin-left:40px;
  }
  
  
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

